# Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ["Male","Famale"]
income = ["Poor","Middle Class","Rich"]

In [3]:
n = 500
gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [11]:
gender_data[0:10]

['Famale',
 'Famale',
 'Famale',
 'Male',
 'Male',
 'Famale',
 'Male',
 'Famale',
 'Male',
 'Famale']

In [10]:
income_data[0:10]

['Middle Class',
 'Poor',
 'Rich',
 'Poor',
 'Poor',
 'Poor',
 'Rich',
 'Poor',
 'Poor',
 'Middle Class']

In [27]:
#Z -> N(0,1)
# N(n,s) .> m + s * z
height = 160 + 30 * np.random.randn(n) 
weight = 65 + 35* np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [28]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weight": weight,
        "Age" : age,
        "Income" : income
    }
)

In [29]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Famale    Middle Class  114.568597  91.967480  36.007970  19053.247760
1  Famale            Poor  129.617922  54.985976  15.165654  17223.010704
2  Famale            Rich  137.015391  52.376387  21.574901  18545.557352
3    Male            Poor  183.464511  80.481074  37.134853  21577.663358
4    Male            Poor  159.995020  67.631659  53.582084  15759.975653

# Agrupación de datos

In [31]:
grouped_gender = data.groupby("Gender")

In [32]:
grouped_gender.groups

{'Famale': Int64Index([  0,   1,   2,   5,   7,   9,  10,  12,  13,  15,
             ...
             479, 481, 489, 492, 493, 494, 495, 496, 497, 499],
            dtype='int64', length=227),
 'Male': Int64Index([  3,   4,   6,   8,  11,  14,  17,  20,  22,  24,
             ...
             482, 483, 484, 485, 486, 487, 488, 490, 491, 498],
            dtype='int64', length=273)}