### Generacion aleatorio de números

In [1]:
import numpy as np

In [2]:
#Generar un numero aleatorio entero entre 1 y 100
np.random.randint(1,100)

42

In [3]:
#La forma mas clasica de generar un numero aleatorio es entre 0 y 1 (con decimales)
np.random.rand()

0.9121842231151773

In [4]:
#Funcion que genera una lista de n aleatorios dentro del rango (a,b)
def randint_list(n,a,b):
    x=[]
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [5]:
range(8)

range(0, 8)

In [6]:
randint_list(25,1,50)

[42,
 5,
 11,
 11,
 49,
 17,
 15,
 31,
 34,
 47,
 3,
 36,
 31,
 29,
 45,
 21,
 16,
 11,
 33,
 41,
 43,
 35,
 10,
 2,
 1]

In [7]:
import random

In [8]:
for i in range(10):
    print(random.randrange(0,100,7))

91
70
77
0
21
63
98
70
21
70

### Shufling - desordenar los valores

In [9]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [10]:
np.random.shuffle(a)

In [11]:
a

array([36, 95, 90, 76, 40, 81, 57, 33, 84, 52, 74, 60, 14, 48, 66,  0, 94,
       37, 28, 97, 61,  5, 69, 87, 22, 77, 98, 24,  7, 31, 63, 17, 21, 19,
       79, 80, 99, 27, 11, 85, 23, 10, 35, 91,  1, 18, 47, 93, 30, 72, 96,
       65, 83, 25, 75,  9, 64, 32, 92,  2, 39, 82, 55, 45, 41,  4, 42, 70,
        8, 15, 54, 53,  6, 78, 86, 26, 67, 49, 89, 20, 43, 13, 12, 38, 88,
       46, 68, 34,  3, 29, 50, 58, 56, 16, 71, 44, 73, 59, 51, 62])

### Choice

In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.txt")

In [15]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [16]:
data.shape

(3333, 21)

In [17]:
column_list = data.columns.values.tolist()
column_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [18]:
np.random.choice(column_list)

'Night Calls'

### Seed

In [22]:
# Siempre fijar una semilla
np.random.seed(2019)
for i in range(5):
    print(np.rand
          om.random())

0.9034822144192743
0.3930805066502425
0.6239699612977534
0.6378774010222266
0.8804990687782621